.app {
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #fff;
}

.app__spiner.ant-spin {
  position: fixed !important;
  top: 20vh !important;
  left: calc(50vw - (53.3px / 2));
}

.app__search-movies {
  margin: 20px 0 10px;
}

.app__pagination {
  display: flex;
  justify-content: center;
}
